@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: urbanist;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
